@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.products-category {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 45px;

  .product-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    transition: all .3s;

    &:hover {
      color: $color-primary;
    }
    
    
    .product-icon {
      @include centralization;
      width: 120px;
      height: 128px;
      font-size: 40px;
      border-radius: 10px;
      box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);
      background-color: #F4F4F4;

      &:hover + .category-description {
        color: $color-primary;
      }
    }

    .category-description {
      margin-top: 18px;
      font-size: 16px;
      font-weight: 500;
      transition: all .3s;
      color: #4E4E4E;
    }
  }
}