@import './variables.scss';

.categories {
  display: flex;
}

.products-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px;

  .product-title {
    display: flex;

    .title-bar {
      width: 360px;
      height: 2px;
      margin-top: 20px;
      color: #DEDEDE;
    }

    .title-section {
      padding: 0 20px;
      font-size: 30px;
      font-weight: 700;
      color: $color-primary;
    }
  }

  .related-products {
    width: 80%;
    margin: 20px 0;

    tr {
      text-align: center;

      td {
        padding: 10px 50px;
        border-color: #BDBDBD;
      }
    }
  }

  .carousel {
    display: flex;
    justify-content: center;
    width: 99%;
    margin-top: 30px;
    overflow-x: visible;

    .arrow-left {
      visibility: hidden;
      width: 100px;
    }
    
    .arrow-right {
      visibility: hidden;
      width: 100px;
    }

    .cards {
      display: flex;
      padding: 6px;
      overflow-x: scroll;
    }
  }
}

.partner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 60px;

  .partner-cards {
    display: flex;
  }

  .product-title {
    display: flex;
    margin-top: 60px;

    .title-bar {
      width: 360px;
      height: 2px;
      margin-top: 20px;
      color: #DEDEDE;
    }

    .title-section {
      padding: 0 20px;
      font-size: 30px;
      font-weight: 700;
      color: $color-primary;
    }
  }

  .product-subtitle {
    margin-top: 35px;
    font-size: 15px;
    font-weight: 700;
    color: #3F3F40;
  }

  .products-card {
    display: flex;
    margin-top: 90px;
  }
}