@mixin centralization {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin styleButton {
   border: none;
   text-align: center;
   text-transform: uppercase;
   cursor: pointer;
   background-color: $color-primary;
   color: #FFF;
}